/* Additional fonts */
/********************/
/* Grotesk Family   */
@font-face {
    font-family: 'GroteskLight';
    src: url("fonts/FoundersGroteskText-Light.otf");
}
@font-face{
    font-family: 'GroteskRegular';
    src: url("fonts/FoundersGroteskText-Regular.otf");
}
@font-face {
    font-family: 'GroteskSemiBold';
    src: url('fonts/FoundersGroteskText-Semibold.otf');
}
@font-face {
    font-family: 'GroteskBold';
    src: url('fonts/FoundersGroteskText-Bold.otf');
}
@font-face {
    font-family: 'GroteskMedium';
    src: url('fonts/FoundersGroteskText-Medium.otf');
}

/* Canela Family */
@font-face{
    font-family: 'CanelaLightItalic';
    src: url('fonts/Canela-LightItalic.otf');
}
@font-face{
    font-family: 'CanelaRegular';
    src:url('fonts/Canela-Regular.otf')
}

/* Freight Family */
@font-face {
    font-family: 'FreightSemiBold';
    src: url('fonts/Freight Neo Pro Semibold.otf');
}
@font-face {
    font-family: 'FreightBookItalic';
    src: url('fonts/Freight Neo Pro Book Italic.otf');
}
@font-face {
    font-family: 'FreightMedium';
    src: url('fonts/Freight Neo Pro Medium.otf');
}
@font-face {
    font-family: 'FreightMediumItalic';
    src: url('fonts/Freight Neo Pro Medium Italic.otf');
}


/**************************************************************/
/* Multi page usage */
/**************************************************************/
.bh{
    text-align: right;
    color: #29326E;
    margin-right: 13px;
}
.wrapper {
    margin-right: auto; /* centers content */
    margin-left: auto; /* centers content */
    max-width:1100px; /* sets width of content */
    padding-right: 10px; /* lil padding */
    padding-left: 10px; /* lil padding */
    width: 90%;
}
.goldH1{
    color: #b79b6e;
    font-family: 'CanelaRegular';
    /* font-size: 4vw; */
    font-size: 70px;
}
.goldenH2{
    color: #b79b6e;
    font-family: 'CanelaRegular';
    /* font-size: 50px; */
    line-height: 73px;
    margin-top: 20px;
}
.goldH4{
    color:#b79b6e;
    font-family: 'GroteskLight';
    /* font-size: 17px; */
}
.centerHeader{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.biegeBackground{
    background: #fdfbf8;
}

/* Nav Bar */
.navigationBar{
    background-image: url(assets/marble.jpg);
    padding-top: 5px;
    /* color: #b79b6e; */
    /* color: #29326e; */
}
.custom-toggler.navbar-toggler{
    border-color: #b79b6e;
    color: #b79b6e;
}
.custom-toggler .navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(183, 155, 110, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.nav-link{
    line-height: 100px;
    font-family: 'GroteskRegular';
    color: #29326e;
    font-size: 17px;
}
.nav-link:focus, .nav-link:hover{
    color: #29326ead;
}
.dropdown-menu.show{
    background-color: #f5eee6;
    margin-top: -45px;
    margin-left: 6px;
    border: none;
}
.dropdown-item{
    color:#29326e;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #29326e;
    background-color: #f5eee6;
}

.buttonBord{

}


/* Footer */
.pedicure{
    background: #17244B;
    /* height: 200px; */
    color: #f2e4d6;
    font-family: 'GroteskLight';
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
}
.footWrapper{
    /* text-align: center; */
    margin-right: auto;
    margin-left: auto;
    /* font-size: 10px; */
    max-width: 1100px;
    padding-right: 10px;
    padding-left: 10px;
    width: 90%;
    padding-top: 90px;
    /* line-height: 100px; */
    /* padding-top: px; */
}
.footLogo{
    height: 67px;
}
.footText{
    float: right;
    text-align: end;
}


/**************************************************************/
/* Landing Page */
/**************************************************************/
.container-fluid{
    padding-bottom: 10px;
}
.mainHeaderbkgd{
    background-image: url(Pics/landingPhoto.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* height: 700px; */
}
.mainHeaderText{
    color: #FFFFFF
}
.headTextPlacement{
    padding-top: 15%;
    padding-bottom: 15%;
    /* margin: 0; */
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}
.italicHeaderText{
    font-family: 'CanelaLightItalic';
    font-size: 45pt;
}
.headerDate{
    font-family: 'GroteskRegular';
    font-size: 24px;
}
.headerLocation{
    font-family: 'GroteskSemiBold';
    font-size: 24px;
}
.headButton{
    float: right;
}
.headerButton{
    background: #b79b6e 0% 0% no-repeat padding-box;
    font-family: 'FreightSemiBold';
    border: none;
    color: #FFFFFF;
    padding: 9px 20px;
    border-radius: 6px;
    font-size: 37px;
}
.meetTheRetreat{
    background-color: #fbf7f3;
    height: 680px;  
}
.retreatSpacing{
    padding-top: 20%;
}
.meetHead{
    /* margin-top: -16%; */

}
.playVideo{
    background-color: transparent;
    border: none;
}
.modal-dialog{
    max-width: 595px;
}
.recap{
    color: #b79b6e;
    font-family: 'GroteskBold';
    font-size: 28px;
}
.retreatP{
    color: #29326E;
    font-family: 'GroteskLight';
    font-size: 23px;
}
.learnMore{
    color: #b79b6e;
    font-family: 'FreightBookItalic';
    font-size: 27px;
}
.goldBox{
    background: #b79b6e;
    height: 235px;
    margin-top: -117.5px;
    display: grid;
    align-items: center;
    text-align: center;
    /* border-radius: 180px; */
}
.numbers{
    font-family: 'CanelaRegular';
    color: #f2e4d6;
    font-size: 75px;
}
.numberLabel{
    font-family: 'FreightMedium';
    color: #f2e4d6;
    font-size: 25px;
}
.retreatPrograms{
    position: relative;
}
/* Top space doesn't effect anything */
.topSpace{
    padding-top: 50px;
}
/*Deal with ^ later*/
.goldenLine{
    border-bottom: 0.5px solid #b79b6e;
    padding: 50px 0px;
}
.clearLine{
    padding-top: 75px;
    padding-bottom: 150px;
}
.lead{
    color: #17244b;
    font-family: 'GroteskLight';
    font-size: 25px;
    line-height: 35px;
}
/* .proImage {
    border: 1px solid #b79b6e;
} */
.earlyTest{
    background: #29326e;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.earlyBird{
    color: #f2e4d6;
    z-index: 1;
}
.earlygoldBox{
    background: #b79b6e;
    height: 143px;
    margin-top: -95.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.birdFix{
    font-family: 'GroteskBold';
    font-size: 28px;
    margin-left: -13%;
}
.clearButton{
    background: transparent;
    font-family: 'FreightSemiBold';
    border: solid #f2e4d6 1px;
    color: #f2e4d6;
    font-size: 23px;
    padding: 0px 10px;
    border-radius: 4px;
}
.testimonials{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.testimonialText{
    font-family: 'FreightMediumItalic';
    color: #f2e4d6;
    font-size: 40px;
}
.testimonialPerson{
    font-family: 'FreightMedium';
    color: #f2e4d6;
    font-size: 27px;
}


/**************************************************************/
/* Accomodations Page */
/**************************************************************/
/* .accomodationHeaderBkgd{
    background: #FFFFFF;
} */
.spaceOut{
    padding-top: 50px;
    padding-bottom: 50px;
}
.row.rowAcom{
    --bs-gutter-x: 0rem;
}
.blueHotel{
    color: #17244B;
    font-family: 'GroteskMedium';
    font-size: 25px;
}
.blueAddress{
    color: #17244B;
    font-family: 'GroteskLight';
    font-size: 20px;
}
.accomodationInfo{
    background: #fbf7f3;
    padding-top: 80px;
    padding-bottom: 100px;
    /* margin-top: 20px; */
}
.pageSec{
    border-bottom: #b79b6e solid 1px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.regularBlue{
    font-family: 'GroteskRegular';
    color: #17244B;
    font-size: 20px;
}
.lightBlue{
    font-family: 'GroteskLight';
    color: #17244b;
    font-size:18px;
    /* line-height: 35px; */
}


/**************************************************************/
/* FAQ Page */
/**************************************************************/
.headSpace{
    margin-top: 100px;
    text-align: center;
}
.spacer {
    margin-top: 100px;
}
.input2 {
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.content-inner {
    margin-top: 20px;
}
/* .content-collapse {
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
} */
.content-collapse-items {
    width: 100%;
    color: #29326E;
    font-size: 17px;
    /* font-weight: 500; */
    border-bottom: 1px solid #b79b6e;
    overflow: hidden;
}
.label-collapse {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-family: 'GroteskMedium';
}
.label-collapse::after {
    content: '+';
    text-align: center;
    transition: all .10s;   
}
.label-content {
    max-height: 0;
    /* padding-top: 50px; */
    /* padding: 0 1em; */
    transition: all .10s;
}
.text{
    padding-top: 10px;
}
input[type="checkbox"]:checked + .label-collapse::after {
    content: '-';
    text-align: center;
    /* -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); */
}
input[type="checkbox"]:checked + .label-collapse ~ .label-content {
    max-height: 100%;
    padding: 16px;
    color:#17244b;
    font-family: 'GroteskLight';
}
.programsFaq{
    margin-top: 70px;
    padding-top: 70px;
    background: #fbf7f3;
    padding-bottom: 70px;
}


/**************************************************************/
/* Contact Us Page */
/**************************************************************/
/* .contactForm{
    background: #fdfbf8;
} */
.contactHeader{
    color: #b79b6e;
    
}
.form-group{
    margin-top: 20px;
    color: #12275C;
    font-family: 'GroteskLight';
}
.formPart{
    margin-top: 30px;
    /* border: #5f5f613a solid 0.1px; */
    padding: 10px;
    padding-bottom: 60px;
    /* background-color: #b79b6e6b; */
}
.formHeader{
    text-align: center;
}
label{
    margin-bottom: 10px;
}
.form-control{
    background: #fdfbf8;
    border: none;
    border-bottom: 0.5px solid #b79b6e;
    border-radius: 0;
}
.sideInfo{
    margin-top: 30px;
    padding-top: 50px;
    /* text-align: center; */
}
/* Needs to be fixed from name to color size and font */
.lightParagraph{
    color: #29326E;
    font-family: 'GroteskLight';
}
.submitBtn{
    background: #b79b6e;
    color: #FFFFFF;
}
.details-wrap{
    margin-bottom: 30px;
}
.goldLogo{
    text-align: center;
}
/* .label {
    margin-bottom: 10px;
} */


/**************************************************************/
/* Faculty Page */
/**************************************************************/
.facultyPic{
    width: auto;
    height: 300px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border: #b79b6e solid 1px;
}
/* make sure this is the proper color */
.facultyInfo{
    margin-bottom: 30px;
    color: #29326E;
}
.facultyName{
    font-family: 'GroteskSemiBold';
}
.facultyLocation{
    font-family: 'GroteskRegular';
}

/**************************************************************/
/* CSS for different breakpoints */
/**************************************************************/
/* Large breakpoint */
@media (max-width:991px){
    .navigationBar{
        background-image: none;
        padding-bottom: 60px;
        /* background-color: transparent; */
    }
    .nav-link{
        /* text-align: center; */
        font-size: 7vw;
        /* font-size: 50px; */
        color: #b79b6e;
        /* color: red; */
        margin-bottom: -40px;

        /* padding-bottom: 10px; */
    }
    .nav-link:focus, .nav-link:hover{
        color: #b79b6e66;
    }
    .dropdown-menu.show{
        background-color: transparent;
        margin-top: -45px;
        margin-left: 6px;
        border: none;
    }
    .dropdown-item{
        color:#b79b6e;
        /* margin-left: auto;
        margin-right: auto; */
        width: 14em;
        /* text-align: center; */
        font-size: 3vw;
        /* font-size: 20px; */
    }
    .dropdown-item:focus, .dropdown-item:hover{
        color: #b79b6e;
        background-color: #f5eee6;
    }
}

@media (max-width:922px){
    /* Landing Page */
    .birdFix{
        font-size: 20px;
    }
}


/* Medium brekpoint */
@media (max-width:767.98px){
    /* Landing Page */
    .headButton{
        float: none;
    }
    .birdFix{
        margin-left: 0;
        /* font-size: ; */
    }

    /* Contact Us Page */
    .sideInfo{
        text-align: center;
    }
}




/* small breakpoint */
@media (max-width:575.98px){
    /* Multi-page usage */
    .goldH1{
        font-size: 12vw;
    }
    .blueHotel{
        text-align: center;
    }
    .footImg{
        text-align: center;
    }
    .footText{
        margin-top: 50px;
    }
    /* Navigation */
    .nav-link{
        font-size: 10vw;
        /* font-size: 10px; */
    }
    .dropdown-item{
        font-size: 4vw;
        /* font-size: 10vw; */

    }
  

    /* Landing Page */
    .numbers{
        font-size: 11vw;
    }
    .numberLabel{
        font-size: 4vw;
    }
    
    /* FAQ page */
    .headSpace{
        margin-top: 50px;
        margin-bottom: -30px;
    }
    .text{
        padding-top: 18px;
    }
}











































































/* Reigistrattion Page */
/* not going to be used */
.headerbkgd{
    background-color: #12275C;
    color: white;
    /* height: 300px;
    position: relative; */
}

.registrationHeader{
    background-color: #12275C;
    color: #FFFFFF;
    height: 386px;
    z-index: 1;
    /* color: #f1e3d577; */
}

.registration{
   /* position: center; */
    margin-right: auto;
    margin-left: auto; 
    max-width:1100px; 
    /* padding-right: 1px;
    padding-left: 1px;  */
    width: 90%;
    margin-top: -220px;

    /* position: center;
    width:80%;
    max-width: 500px; */
    /* padding-bottom: 10px; */
}
.sidebarRegistration{
    background-color: #F1E3D5;
    /* padding-left: 0px; */
}
.formSpace{
    margin-right: auto;
    margin-left:auto;
    width: 90%;
}
.mainRegistration{
    background: #FFFFFF;
    /* width: 90%; */
    /* padding-right: 0px; */
}
.regHeadText{
    /* width: 92%;
    max-width: 920px; */
    /* margin: 0 auto; */
    text-align: center;
  }
.purpBtn {
    margin:0 auto;
    display:block;
    color: #29326E;
    border: 5px solid #29326E;
    background-color: inherit;
    font-size: 30px;
    border-radius: 6px;
}
.pageHead{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Countdown clock */
.timerBack{
    background-color: #12275C;
}
.clockWrapper{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:500px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    width: 90%;
}
.clock{
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
}
.countdownClock{
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
